<div class="row">
    <div class="col-6">
        <app-dona [title]="grafica1.title" [labels]="grafica1.labels" [data]="grafica1.data"></app-dona>
    </div>
    <div class="col-6">
        <app-dona [title]="grafica2.title" [labels]="grafica2.labels" [data]="grafica2.data"></app-dona>
    </div>
    <div class="col-6">
        <app-dona [title]="grafica3.title" [labels]="grafica3.labels" [data]="grafica3.data"></app-dona>
    </div>
    <div class="col-6">
        <app-dona [title]="grafica4.title" [labels]="grafica4.labels" [data]="grafica4.data"></app-dona>
    </div>
</div>